<!--The add page displays a form that user fills out when they want to add an addition task to the database. -->

<form   action= "/" method= "post">
<input  type="text"  name="task">
<input  type="text"  name="due">
<input  type="text"  name="priority">
<input  type="text"  name="completed">
<button>Add Contact</button>

</form>