<h1>Let's Add some more work...yuck</h1>

<form action="/" method="post">
  <label for="task_name">Task</label><br>
  <input type="text" name="first"><br>
  <label for="to_do_description">Description</label><br>
  <input type="text" name="last"><br>
  <label for="completed">Is it complete?</label><br>
  <input type="boolean" name="completed"><br>
  <button>Add Task</button>
</form>