<h1> Let's put more on your plate</h1>

<form action="/todos" method="post">
  <label for="Task">Task</label><br>
  <input type="text" name "Task"><br>
  <label for="Description">Description</label><br>
  <button> Add Task</button>

</form>