<h2>Add task: </h2>
<form action="/todos" method="post">

  <p><input type="text" placeholder="Task" name="todo" autofocus
    maxlength="15"></p>

  <p><input type="text" placeholder="Last name" name="last"
    maxlength="20"></p>

  <p><input type="number" placeholder="Age" name="age"
  maxlength="3"></p>

  <p><input type="text" placeholder="Gender" name="gender"
  maxlength="1"></p>

  <p><input type="text" placeholder="Down to get down?" name="dtgt"
    maxlength ="5"></p>

  <p><input type="text" placeholder="Phone #" name="phone"
  maxlength="15"></p>

  <button>Add Contact</button>
</form>
