<form action="/create_todo" method=post>
  <h4>Title:</h4>
  <input type="text" name="title" autofocus><br>
  <h4>Description:</h4>
  <input type="text" name="description"><br>
  <h4>Due Date and Time: </h4>
  <input type="date" name="due_date"><br><br>
  <input type="time" name="due_time"><br><br>
  <button>Submit</button>
</form><br>

<form action="/" method="get">
  <button>View To-Do List</button>
</form>