<h1>Let's Add some more work...yuck</h1>

<form action="/" method="post">
  <label for="task">Task</label><br>
  <input type="text" name="task"><br>
  <label for="task_description">Description</label><br>
  <input type="text" name="task_description"><br>
  <label for="completed">Is it complete?</label><br>
  <input type="radio" name="completed" value="false" checked> No
  <input type="radio" name="completed" value="true">Yes<br>
  <button>Add Task</button>
</form>

