<form action="/create_todo" method="post">
  <label for="task">Enter a task</label><br>
  <input type="text" name="task"><br>
  <label for="due_date">Enter a due date (mm/dd/yy)</label><br>
  <input type="text" name="due_date"><br>
</form>