<form value = "/create_todo" method = 'post'>
	<label for="task">Task</label><br>
	<input type = "text" name = "task"><br>
	<label for="description">Description</label><br>
	<input type = "text" name = "description"><br>
	<label for="date">Due Date</label><br>
	<input type = "text" name = "date"><br><br>
	<label for "urgent">Urgency:</label>
	<label for="urgent"><br>
		<input type = "radio" name = "urgent" value = "true">
		Urgent<br>
	</label>
	<label for="urgent">
		<input type = "radio" name = "urgent" value ="false">
		Not Urgent<br>
	</label><br>
	<label for "completed">Completed:</label>
	<label for="completed"><br>
		<input type = "radio" name = "completed" value = "true">
		Complete<br>
	</label>
	<label for="completed">
		<input type = "radio" name = "completed" value ="false">
		Incomplete<br>
	</label>
</form>
