<h1>Add an Item to the List</h1>

<form action="/create_todo" method="post">
  <label for="task">Task</label><br>
  <input type="text" name="task"><br>
  <label for="location">Location</label><br>
  <input type="text" name="location"><br>
  <label for="description">Description</label><br>
  <input type="text" name="description"><br>
  <label for="is_this_done">Task is Complete</label><br>
  <input type="text" name="is_this_done"><br>
  <button>Add Task</button>
</form>