<h1>Please Enter A New Item TO  DO:</h1>
<form action='/create_todo' method="post">
<input type="text" placeholder="description" name="description" autofocus>
<input type="text" placeholder="DUE DATE" name="due">
<input type="text" value="false" name="completed">
  <button>ADD NEW ITEM</button>
    </form>