<h1>Let's make a new to do item!</h1>

<form action="/create_todo" method="post">
  <label for="to_do">To do<label></br>
  <input type="text" name="to_do"><br>
  <label for="due_date">Do this by<label><br>
  <input type="text" name="due_date"><br>
  <label for="has_it_been_completed">Completed?<label><br>
  <input type="text" name="has_it_been_completed"><br>
  <button>Add Item To Your List!! </button>
</form>


