<h1>New To-Do</h1>

<form action="/todo" method="post">
  <input type="text" name="name" value="name"><br>
  <input type="integer" name="time" value="time"><br>
  <input type="boolean" name="status" value="status"><br>
  <button>Add</button>
</form>
