<h1>Add a To Do</h1><%=  %>


<!-- Method is post to send us to the corect url to process out form data-->
<form action="/create_todo" method="post">
  <label for="activity">New To Do</lable>
    <input type="text" name="activity" placeholder = "Enter the new activity"></br>
  <label for="start_time">Start Time</lable>
    <input type="text" name="start_time"></br>
  <label for="end_time">End Time</lable>
    <input type="text" name="end_time"></br>
  <label for="contact_name">Contact Name</lable>
    <input type="text" name="contact_name"></br>
 <label for="contact_phone">Contact Phone</lable>
    <input type="text" name="contact_phone"></br>
  <button>Submit</button>
</form>
</br>
</br>



<a href="/">Home</a></br>
<a href="/todos">To Do List</a>