<!-- This adds a new task based on user input -->

<h1>Let's add a new task</h1>

<form action="/create_todo" method="post">
  <label for="task">Task:</label><br>
  <input type="text" name="task" autofocus><br>
  <label for="description">Description:</label><br>
  <input type="text" name="description"><br>
  <label for="due_date">Due Date:</label><br>
  <input type="text" name="due_date"><br><br>
  <button>Add task</button>
</form>