<form value = "/create_todo" method = 'post'>
	<label for="task">Task</label><br>
	<input type = "text" name = "task"><br>
	<label for="description">Description</label><br>
	<input type = "text" name = "description"><br>
	<label for="due">Due Date</label><br>
	<input type = "text" name = "due"><br><br>
	<label for "urgent">Urgency:</label>
	<label for="urgent"><br>
		<input type = "radio" name = "urgent" value = "true">
		Urgent<br>
	</label>
	<label for="urgent">
		<input type = "radio" name = "urgent" value = "false">
		Not Urgent<br>
	</label><br>
	<button>Add Task</button>	
</form>
