<h1>Add a To Do</h1><%= /create_todo/ %>

<p>To Do List</p>

<form action="/todos" method="post">
  <label for="activity">To Do</lable>
  <input type="text" name="activity"></br>

  <button>Add To Do</button><br>
  <button>Delete To Do</button>