<h1>Create Task</h1>

<form action="/todo" method="post">
  <input type="text" placeholder="task" name="task" autofocus><br>
  <input type="text" placeholder="info" name="info"><br>
  <input type="text" placeholder="done" name="done"><br>
  <button>Add Task</button>
</form>