<h1>Create a to-do here</h1>

<form action='/create_todo' method = "post">
  Task name:<br />
  <input type = "text" name="name" autofocus /><br />
  Description:<br />
  <input type = "text" name="description" autofocus /><br />
  Due date:<br />
  <input type="text" name="date" /><br />
  <!---Completed:
  #<input type= -->
  <button>Create to-do</button>
</form>