<h1>Delete a task</h1>
<h3>Click on the task you want to delete</h3>

<ol>
  <!-- Pulling list
  For each row, creating list item with name of task
  Item links to individual task page for that item's id -->
  <% @db.exec(@show_db) do |result| %>
    <% result.each do |row| %>
      <li><a href="/delete_todo/<%= row['id'] %>">
        <%= row['task'].capitalize %></a></li>
    <% end %>
  <% end %>
</ol>