<h1> Did you finish it yet?... I hope so...</h1>
<form action="/todo/<% @todo['id']%>" method="post">
  <label for="task">Task</label><br>
  <input type="text" name="task" value="<%=@todo['task']%>"><br>
  <label for="to_do_description">Description</label><br>
  <input type="text" name="last" values= "<%=@todo['task_description']%>"><br>
  <label for="completed">Is it complete?</label><br>
  <input type="boolean" name="completed" values="<%=@todo['completed']%>"><br>
  <button>Add Task</button>
</form>