<html>
<head>
  <title>To-do</title>
</head>
<body>
  <center><h1><font size="7" face="iABCRegularSC, Georgia, serif;" color="#FF6F69">E</font>dit What You've got to do</h1></center>
  <hr>

    <ul>
    <% @to_do.each do |todo| %>
     <li>
      <a href="/todos/<%= todo['id']%>">
        <%= todo['name'] %>
      </a>
      </li>
      <% end %>
    </ul>
<a href="/create_todo" >Update Task </a>
</body>
</html>