<h1>Edit this task</h1>
<form action = "/todo/<%= @todo['id'] %>/edit" method = "post">
  Task name:<br />
  <input type = "text" name = "name" value = "<%= @todo['name'] %>" /> <br />
  Description:<br />
  <input type = "text" name = "description" value = "<%= @todo['description'] %>" /><br />
  Date:<br />
  <input type = "text" name = "date" value = "<%= @todo['date'] %>" /><br />
  Completed:
  <input type="checkbox" name = "completed" <% if @todo['completed'] == 't' %>checked<% end %> /><br />
   <button>Edit this task</button>
</form>

<a href="/">Or go back to list</a>
