<h2>Edit Task</h2>

<form action="/todo/<%= @todo['id'] %>" method="post">
  <label for="task">Task</label><br>
  <input type="text" name="task" value="<%= @todo['task'] %>"><br>
  <label for="info">Info</label><br>
  <input type="text" name="info" value="<%= @todo['info'] %>"><br>
  <label for="done">Done</label><br>
  <input type="text" name="done" value="<%= @todo['done'] %>"><br>
  <button>Save Changes</button>
</form>