<form action = '/todo/<%=@task['id']%>' method = 'post'>
	<label for="task" >Task</label><br>
	<input type = "text" name = "task" value= "<%=@task['task']%>"><br>
	<label for="description">Description</label><br>
	<input type = "text" name = "description" value = "<%=@task['description']%>"><br>
	<label for="due">Due Date</label><br>
	<input type = "text" name = "due" value = "<%=@task['due']%>"><br><br>
	<label for "urgent">Urgency:</label>
	<label for="urgent"><br>
		<input type = "radio" name = "urgent" value = "true">
		Urgent<br>
	</label>
	<label for="urgent">
		<input type = "radio" name = "urgent" value = "false">
		Not Urgent<br>
	</label><br>
	<label for "complete">Completion:</label>
	<label for="complete"><br>
		<input type = "radio" name = "complete" value = "true">
		Complete<br>
	</label>
	<label for="complete">
		<input type = "radio" name = "complete" value ="false">
		Incomplete<br>
	</label><br>
	<button>Save Edits</button>	
</form>
