<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <center><h1><font size="6" face="iABCRegularSC, Georgia, serif;" color="#FF6F69">T</font>o <font size="6" face="iABCRegularSC, Georgia, serif;" color="#FF6F69">D</font>o</h1></center>
  <hr>
  <center> Welcome to the landing page <br>

  <a href="/todos"><button>Ready?</button></a></center>


</body>
</html>