<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>To Dos</title>
  <link rel='stylesheet' href="/css/style.css">
</head>
<header>
  <div class = "background">
    <div class = "text">
      <ul>
        <li><a href="/">Task List</a></li>
        <li><a href="/create_todo">Create New Task</a></li>
      </ul>
    </div>
  </div>
</header>
<body>
<%= yield %>
</body>
</html>

