<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>To Do</title>
    </head>
  <body bgcolor="#FFF">
    <%= yield %>
  </body>
</br>
<p>
  <a href="/" style="text-decoration: none">
    To Do List
  </a>
   |
  <a href="/new_todo" style="text-decoration: none">
    New To Do
  </a>
</p>
</html>
