<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Now with style</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<div id="container">

<%= yield %>

</div>

<footer>to do list created by nick lombardi</footer>
</body>
</html>