<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styling.css">
	<title>To Do</title>
</head>
<body>
	<div class = "title"><h1> To Do </h1></div>
	<div class = "container"><%= yield %></div>
	<h3><a href = '/'>To Do List</a></h3>
	<h3><a href = '/create_todo'>New ToDo Task </a></h3>
</body>
</html>



