<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body style="background-color:#5BC1E5;">

<%= yield %>

  <hr>
  <footer style="font-family:arial;color:maroon;font-size:10px;">If you fail to do these things, the <a href="https://en.wikipedia.org/wiki/Doomsday_device" target="_blank">Doomsday Device</a> will go off.</footer>
</body>
</html>