<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
  </head>
  <body>
    <%= yield %>
    <a href="/">Main To-Do List</a><br>
    <a href="/create_todo">Add a task</a><br>
  </body>
</html>