<!doctype html>
<html>
<head>
	<title>To Do</title>
</head>
<body>
	<h1> To Do </h1>
	<%= yield %>
	<p><a href = '/'>To Do List</a></p>
	<p><a href = '/create_todo'>New ToDo Task </a></p>
</body>
</html>



