<!DOCTYPE html>
<html>
<head>
  <title>My To-do List</title>
</head>

<body>
  <%= yield %>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <footer style="color:lightgrey">General Assembly WDI June 2013 NYC | Homework by Thomas Y.</footer>
</body>

</html>
