<h2>Add todo: </h2>
<form action="/todos" method="post">

  <p>
    <input type="text" placeholder="Task" name="task" autofocus
    maxlength="15">
  </p>

  <p><input type="text" placeholder="Due Date" name="due"
      maxlength="15"></p>

  <p>
    <input type="INT" placeholder="0-3" name="priority"
    maxlength="1">
  </p>

  <p>Done</br>
    <input id="completed-value-true" type="radio" name="completed" value="true">
  </p>

<button>Add To Do</button>
</form>
