<h1><%= @item_details['description'].capitalize %></h1>
<ul>
<li><%= @item_details['due'].capitalize %></li>
<li><%= @item_details['completed'].capitalize %></li>
</ul>

<form action="/todo/<%= @item_details['id'] %>/delete" method="post">
  <button>DELETE CONTACT</button>
  <p><a href="/">BACK to TO DO LIST</a></p>
