<h1><%= @task['task']%></h1>

<p><%= @task_description['task_description']%></p>
<p><% if @completed['completed'] == true %>
    <%= puts "The Task is Finished!" %>
    <%else %>
    <%= puts "Still Needs More Work!" %>