<!DOCTYPE html>
<html>
  <head>
    <title>Stuff You Gotta Do</title>
  </head>
  <body>

    <p><%= @to_do['description'] %> </p>

      <a href="/todos/<%= @to_do['id'] %>/edit">Edit Task</a>

      <form action="/todos/<%= @to_do['id'] %>/delete" method="post">
        <button>Delete Contact</button>
      </form>

  </body>
</html>