<!-- This shows the task info -->

<p>Task: <%= @todos['task'] %></p>
<p>Description: <%= @todos['description'] %></p>
<p>Due Date: <%= @todos['due_date'] %></p>
<p>Completed? (t/f): <%= @todos['completed'] %></p>
<br>

<!-- This deletes the task -->
<form action="" method="post">
  <button>DELETE TASK</button>
</form>