<h1>My To-Do List</h1>

<ol>
  <% @db.exec(@show_db) do |result| %>
    <% result.each do |row| %>
      <li><a href="/todo/<%= row['id'] %>">
        <%= row['task'].capitalize %></a></li>
    <% end %>
  <% end %>
</ol>