<h3><%= @todo['task'].capitalize %></h3>
<p>Do this by: <%= @todo['due_date'] %></p>
<p>Status:
  <% if @todo['accomplished'] == 't' %>
    Done! Good job!
  <% else %>
    Not done. ::sigh::
  <% end %>
</p>

<a href="/todo/<%= @todo['id'] %>/edit" >Edit Task</a>

<form action="/todo/<%= @todo['id'] %>" method="post" >
  <button>Delete Task</button>
</form>