<html>
<head>
  <title>To-do</title>
</head>
<body>
  <center><h1>What to do, today?</h1></center>
    <ul>
    <% @to_do.each do |todo| %>
     <li>
      <a href="/todos/<%=todo['id']%>">
        <%= todo['name'] %>
      </a>
      </li>
      <% end %>
    </ul>
</body>
</html>