<h1>My To-Do List</h1>

<ol>
  <!-- Pulling list
  For each row, creating list item with name of task
  Item links to individual task page for that item's id -->
  <% @db.exec(@show_db) do |result| %>
    <% result.each do |row| %>
      <li><a href="/todo/<%= row['id'] %>">
        <%= row['task'].capitalize %></a></li>
    <% end %>
  <% end %>
</ol>