<h2> Task Details </h2>
<h3>Task: <%=@task['task']%></h3>
<h3>Description: <%=@task["description"]%></h3>
<h3>Due Date: <%=@task["due"]%></h3>
<h3>Urgent: 
	<% if @task["urgent"] == 't' %>
		Yes
	<% else %>
		No
	<%end%>
</h3>
<h3> Complete: 
	<% if @task["complete"] == 't' %>
		Yes
	<% else %>
		No
	<% end %>
</h3>
<a href = '/todo/<%=@task["id"]%>/edit'> Edit Task </a>
